.glyphicon-pencil {
    cursor: pointer; 
    float: right;
}

.glyphicon-pencil:hover {
    opacity: 0.9;
}

.panel-body > .btn {
    float: right;
}

.badge {
    cursor: pointer; 
    margin-left: 50%;
    margin-bottom: 10px;
 }

 .panel-footer .badge{
     margin: 0px;
 }